body {
  font-family: "Open Sans";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

li {
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-default .navbar-nav > .active > a {
  color: #399bd1;
  background-color: inherit;
}

.navbar-default .navbar-nav > .active > a:hover{
  color: #399bd1;
  background-color: inherit;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 11.85rem;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron.jumbotron-bike{
  background-image: url(/Users/sajover/Documents/Proyectos/Jumpstart/resources/images/jumbotron-bike.jpg);
}

.jumbotron.jumbotron-flowers{
  background-image: url(/Users/sajover/Documents/Proyectos/Jumpstart/resources/images/jumbotron-flowers.jpg);
}
.jumbotron.jumbotron-duffel{
  background-image: url(/Users/sajover/Documents/Proyectos/Jumpstart/resources/images/jumbotron-duffel.jpg);
}
.jumbotron.jumbotron-beer{
  background-image: url(/Users/sajover/Documents/Proyectos/Jumpstart/resources/images/jumbotron-beer.jpg);
}

.relative-wrapper.jump {
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
}


@media only screen and (max-widht:760px){
  h1  {
      font-size: 5.7rem;
  }
}

.carousel {
  margin-top: 7rem; /* To account for relatively positioned button */
}

h1 {
  font-family: "Monoton";
  font-size: 7.1rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1.4rem;

}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}



.btn-primary{
  padding: 1.3rem;
  text-align: center;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin: 2.8rem;
  transition: .5s box-shadow;
}

.jumbotron .btn-primary{
  width: 11.4rem;
}

.btn-primary.btn-lg:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary.btn-lg:active{
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}


.featured-project {
    text-align: left;
    padding: 0px 20px;
    margin-top: -12rem;
}

.image-container {
  overflow: hidden;;
}
.image-container img {
  opacity: 0.5;

}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
  transition-duration: 0.5s;
}

.text-container {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
}

.product-categories h3 {
  color:#399bd1;
}

.product-categories li {
  line-height: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}

.having-trouble-banner{
  text-align: center;
  padding: 5.2rem;
  background-color: #f3f3f3;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.container.projects p {
  margin-bottom: 5.85rem;
}

.having-trouble-banner p{
    width: 42rem;

}
