body {
  font-family: "Open Sans";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

li {
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-default .navbar-nav > .active > a {
  color: #399bd1;
  background-color: inherit;
}

.navbar-default .navbar-nav > .active > a:hover{
  color: #399bd1;
  background-color: inherit;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron.jumbotron-bike{
  background-image: url(/Users/sajover/Documents/Proyectos/Jumpstart/resources/images/jumbotron-bike.jpg);
  padding: 11.85rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
  font-family: "Monoton";
  font-size: 7.1rem;
}

p {
  width: 51.3rem;

}
